/* components/search/styling/SearchContainer.css */
.search-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-placeholder,
  .file-upload-area {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .drop-zone {
    border: 2px dashed #ccc; /* Dashed border for drop zone */
    border-radius: 8px;
    padding: 20px;
  }
  
  .drop-zone:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Highlight on hover */
  }
  
  .file-upload-content {
     display: flex;
     flex-direction: column;
     align-items: center; /* Center content */
  }
  
  .directory-input {
     margin-top:20px; /* Add some margin to separate from button */
     padding:10px; /* Add padding for better appearance */
     width:80%; /* Make input responsive */
     max-width:300px; /* Limit max width */
     background-color: rgba(255,255,255,0.1); /* Match with design */
     color:white; /* Text color */
  }
  
  .directory-input::placeholder {
     color: rgba(255,255,255,0.5); /* Placeholder color */
  }

  .search-button {
    padding: 10px 20px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.search-button {
    background-color: #4CAF50;
    color: white;
}

.search-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-button:active {
    transform: translateY(0);
    box-shadow: none;
}

/* Styles for Stop Button */
.stop-button {
    position: absolute; /* Position it absolutely within the container */
    top: 5vh; /* Use viewport height for vertical positioning */
    right: 5vw; /* Use viewport width for horizontal positioning */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    background-color: #df1616; /* Red color for stop button */
    color: white; /* Text color */
}

.stop-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.stop-button:active {
    transform: translateY(0);
    box-shadow: none;
}

